body{
    margin: 0;
}

.flex-horiz{
    display: flex;
    flex-direction: row;
    background-color:  #000467;
    justify-content: center;
}

.flex-verti-1{
    display: flex;
    flex-direction: column;
    background-color: #000467;
    justify-content: flex-start;
}

.gros{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 83vw;
    /*background-color: green;*/
    /*opacity: 5%;*/
    /*margin: 1vh;*/
}

.img-terre{
    max-width : 80%;
    max-height :80%;
}

.petit{
    height: 10vh;
    width: 17vw;
    background-color: burlywood;
    /*margin: 1vh;*/
}

.time-bar{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 8vh;
    width: 83vw;
    /*background-color: red;*/
    margin: 2vh;
    margin-bottom: 1vh;
    margin-bottom: 0vh;
}


.time-bar-inside{
    height: 3vh;
    width: 75vw;
    background-color: pink;
    margin: 1vh;
    animation: progressAnimation 300s linear forwards;
}   

.flex-verti-2{
    /*box-sizing: border-box;*/
    /*display: flex;*/
    flex-direction: column;
    background-color: #000467;
    height: 100vh;
    /*justify-content: flex-start;*/
    /*border: red solid;*/
    overflow-y: auto;
    overflow-x: hidden;
}

.carte{
    box-sizing: border-box;
    height: 15vh;
    width: 17vw;
    background-color: cadetblue;
    /*margin: 1vh;*/
    border: solid black;
}

@keyframes progressAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}